@font-face {
    font-family: title;
    src: url(../fonts/Dosis-Extra-Light.ttf);
}
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 70px;
}
footer {
  position: absolute; 
  bottom: 0; 
  width: 100%; 
  height: 60px; 
  background-color: #f5f5f5; 
  padding: 5px 0;
}
footer img {
 max-height: 25px; 
 width: 100px;
}
.title {
  font-family: title;
  font-size: 40px;
  color: #7f8183;
}
.excerpt1, .excerpt2 {
  font-family: arial;
  font-size: 14px;
  color: #7f8183;
  text-align: justify;
}
.jumbotron {
  padding: 0;
}
.title {
  margin-bottom: 25px;
}
.country {
  display: inline-block; margin-top: 30px; margin-bottom: 20px;
}
.img-circle {
  width: 220px;
  height: 220px;
}
.img-circle.brasil {
  box-shadow: 0px 0px 0px 10px #009b3a;
}
.img-circle.india {
  box-shadow: 0px 0px 0px 10px #ff9933;
}
.img-circle.peru {
  box-shadow: 0px 0px 0px 10px #CC0001;
}
.bg-grey {
  background-color: #f5f5f5;
}
.text-muted {
  font-size: 13px;
  margin: 5px 0 0;
  text-align: center;
}
.relative {
  position:relative;
}
.logo-seeg {
  background-image: url(../images/logo.svg);
  background-size: 120px;
  background-repeat: no-repeat;
  background-position: center center;
  height: 70px;
}
.select-lang {
  margin: 15px 0;
}
.btn-group.open .dropdown-toggle, .btn.dropdown-toggle {
  box-shadow:inset 0 0px 0px rgba(0,0,0,0) !important;
}
.dropdown-menu {
  box-shadow: 0 0px 0px rgba(0,0,0,0) !important;
  background-color: #eee;
  border: 0px; 
}
